.app-container {
    @apply py-5 h-screen landscape:min-w-[100vh] portrait:w-screen absolute left-1/2 top-0 -translate-x-1/2  grid grid-rows-5 items-center justify-items-center;
}

body {
    background: radial-gradient(101.35% 101.35% at 50% 22.11%, #4E2082 0%, #0C0C4C 71.87%), #131444;
}

.app-view {
    box-sizing: border-box;
    border: 2px solid;
    border-image-source: linear-gradient(180deg, #3D1B74 0%, #9A78D0 77.08%);
    background: linear-gradient(180deg, #3D1B74 0%, #9A78D0 77.08%);
    box-shadow: 0px 4px 90px 0px rgba(84, 40, 153, 1);
    filter: drop-shadow(0px 4px 90px #542899);
    border-radius: 20px;
    
}

.app-view>canvas {
    border-radius: 20px;
}


.chat-box{
   @apply p-4 w-full h-full rounded-2xl relative;

background: #180C3C;


}

.chat-box:before{
    content: '';
    background: linear-gradient(181deg, #514D67 1.31%, rgba(209, 206, 232, 0) 100%);
    background-color: white;
    position: absolute;
    width: calc(100% + 8px);
    height: calc(100% + 8px);
    top: -4px; left: -4px; z-index: -1; border-radius: 16px;


}